<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Casino</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/keno">Keno <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ruleta">Ruleta</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1>
        Keno
    </h1>
    <form action="javascript:playKeno();">
        <div class="form-group">
            <label for="numCasillas">Número de casillas que quieres apostar</label>
            <select name="numCasillas" id="numCasillas">
                <option value="1">1</option>    
                <option value="2">2</option>    
                <option value="3">3</option>    
                <option value="4">4</option>    
                <option value="5">5</option>    
                <option value="6">6</option>    
                <option value="7">7</option>    
                <option value="8">8</option>    
                <option value="9">9</option>    
                <option value="10">10</option>    
            </select>
        </div>
        <div class="form-group">
            <label for="casillas">Escoge tus casillas</label>
            <div class="casillas">
            </div>
        </div>
        <div class="form-group">
            <label for="apuesta">¿Cuánto quieres apostar?</label>
            <input type="number" placeholder="Apuesta:" id="apuesta" required> 
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-large btn-warning" >Apostar</button>
        </div>
    </form>
    
</body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="/web3.js" type="text/javascript"></script>
<script src="/truffle-contract.js" type="text/javascript"></script>
<script src="/prueba.js" type="text/javascript"></script>

<script>
    
    
</script>

<script>
    $(document).ready(function(){
        $('#numCasillas').change(function(){
            let num_casillas = $(this).val();
            $('.casillas').html('');
            for(i = 1; i <= num_casillas; i++){
                $('.casillas').append(`<input type="number" data-id="${i}" placeholder="Casilla #${i}" id="casilla${i}" min="1" max="80" required>`);
            }
        })
    });
    function playKeno(){
        var num_casillas = $('#numCasillas').val();
        var apuesta      = $('#apuesta').val();
        var casillasArray = Array();
        for (i = 1; i<= num_casillas; i++){
            currentVal = $(`#casilla${i}`).val();
            if ((currentVal > 80) || (currentVal < 1)){
                alert("Los números deben de ir de 1 a 80.");
                return;
            }
            casillasArray.push(currentVal);
        }
         var web3;
        if (typeof web3 !== 'undefined') {
            web3 = new Web3(web3.currentProvider);
        } else {
            // set the provider you want from Web3.providers
            web3 = new Web3(new Web3.providers.HttpProvider("http://127.0.0.1:7545"));
        }
        var provider = new Web3.providers.HttpProvider("http://127.0.0.1:7545");
        let accounts = web3.eth.getAccounts()
        accounts.then((currentAccounts) =>{
            web3.eth.defaultAccount = currentAccounts[0];
            console.log(currentAccounts[0]);
            
            var EthereumSessionTruffle = TruffleContract({abi: [
                {
                    "inputs": [
                        {
                            "internalType": "uint8",
                            "name": "cantidadCasillas",
                            "type": "uint8"
                        },
                        {
                            "internalType": "uint8[]",
                            "name": "valorCasillas",
                            "type": "uint8[]"
                        },
                        {
                            "internalType": "uint256",
                            "name": "apuesta",
                            "type": "uint256"
                        }
                    ],
                    "name": "jugarKeno",
                    "outputs": [
                        {
                            "internalType": "uint8[20]",
                            "name": "_numerosGanadores",
                            "type": "uint8[20]"
                        },
                        {
                            "internalType": "uint8[]",
                            "name": "_numerosApostados",
                            "type": "uint8[]"
                        },
                        {
                            "internalType": "uint8",
                            "name": "_cantidadAtinados",
                            "type": "uint8"
                        },
                        {
                            "internalType": "uint256",
                            "name": "_dineroGanado",
                            "type": "uint256"
                        }
                    ],
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "inputs": [],
                    "name": "verResultado",
                    "outputs": [
                        {
                            "internalType": "uint8[20]",
                            "name": "_numerosGanadores",
                            "type": "uint8[20]"
                        },
                        {
                            "internalType": "uint8[]",
                            "name": "_numerosApostados",
                            "type": "uint8[]"
                        },
                        {
                            "internalType": "uint8",
                            "name": "_cantidadAtinados",
                            "type": "uint8"
                        },
                        {
                            "internalType": "uint256",
                            "name": "_dineroGanado",
                            "type": "uint256"
                        }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                }
                ]})
            console.log(EthereumSessionTruffle);
            EthereumSessionTruffle.setProvider(provider);
            var esTruffleInstance = null;
            EthereumSessionTruffle.at("0x4b423B2281a582f5232D2797Ff5d8Cf09AC80Cd1").then((instance) =>{
            //EthereumSessionTruffle.deployed().then((instance) =>{
                esTruffleInstance = instance;
                //var numerosApostados = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,17,18,19,20];
                //var apuesta = 1;
                instance.jugarKeno(casillasArray.length, casillasArray, apuesta, {from: currentAccounts[0]});
                return instance;
            })
            .then((instance) =>{
                console.log("Instance:")
                console.log(instance)
                resultados = instance.verResultado();
                return resultados;
            })
            .then((resultados) =>{
                numerosGanadores = Array();
                numerosElegidos = Array();
                cantidadAtinados = resultados[2].words[0];
                premio = resultados[3].words[0];
                for(numero = 0; numero < resultados[0].length; numero ++){
                    numerosGanadores.push(resultados[0][numero].words[0]);
                }
                for(numero = 0; numero < resultados[1].length; numero ++){
                    numerosElegidos.push(resultados[1][numero].words[0]);
                }
                resultadosKeno = {
                    numerosGanadores: numerosGanadores,
                    numerosElegidos: numerosElegidos,
                    cantidadAtinados: cantidadAtinados,
                    premio: premio
                }
                return resultadosKeno;
            })
            .then((resultadosKeno) => {
                console.log("Resultados keno:")
                console.log(resultadosKeno);
                alert(`Resultados : ${numerosGanadores}. 
                        Tus números: ${numerosElegidos}.
                        Le atinaste a ${cantidadAtinados}.
                        Tu premio: ${premio}.
                        `);
                return;
            })
        });

    
   
        console.log(num_casillas, apuesta, casillasArray);
    }
</script>